/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */


.error {
    color: black;
    -fx-font-family: Chaloops, SarcasticRobot, Chalkduster, Marker Felt, fantasy, Comic Sans, Cursive, Helvetica;
    -fx-font-size: 13;
    -fx-background-color: #ffcc83;
    
    /* Sadly, the following is useless since size can't be specified
    -fx-graphic: url("Oops.png"); */
}
.dlgTitle {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.dlgerrTitle {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.dlgerrBody {
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}