/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.baseLayer {
    -fx-background-color: #888
}
.nodeEditor {
    -fx-font-family: Chaloops, Chalkduster, Marker Felt, fantasy, Comic Sans, Cursive, Helvetica;
    -fx-font-size: 13;
}
.nodeItem {
    -fx-font-size: 11;
    -fx-hgap: 20;
}
.fgpane {
    -fx-fill-width: true;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-padding: 7;
    -fx-stroke: black;
    -fx-background-color: #eee
}
/* .fgpane.selected {
    -fx-effect: dropshadow(gaussian,#FF9900,4,2,0,0);    
} */
.fgtitle {
    -fx-background-color: #ddd;
    -fx-background-radius: 3;
    -fx-text-fill: #fff;
    color: #FFF;
    -fx-fill: #fff;
    -fx-spacing: 5;
    -fx-alignment: center;
}
.port.error {
    -fx-background-color: #fbb;
}
.arctag {
    -fx-background-color: rgba(255,255,255,0.5);
}
.deviceDomain {
    -fx-effect: dropshadow( gaussian, #99FF44, 15, 0.3, 0, 0)
}
.cloudDomain {
    -fx-effect: dropshadow( gaussian, #FF9900, 15, 0.3, 0, 0)
}
.browserDomain {
    -fx-effect: dropshadow( gaussian, #55AAFF, 15, 0.3, 0, 0)
}
.anyDomain {
    -fx-effect: dropshadow( gaussian, yellow, 15, 0.3, 0, 0)
}
.good {
    -fx-background-color: #DDFFDD;
    -fx-font-size: 13;
}
/*
.selected {
    -fx-background-image: url(Checkmark.png);
    -fx-background-position: right top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 0.3in;
    -fx-stroke: #99FF00;
    -fx-stroke-width: 5;
    -fx-view-order: -2;
}
*/
CubicCurve {
    -fx-fill: transparent;
    -fx-stroke: #FF9900;
    -fx-stroke-width: 2;
    -fx-view-order: -1;
}
CubicCurve.error {
    -fx-stroke: #FF0000;
}
CubicCurve:hover {
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3),4,0,2,3);
    -fx-stroke-width: 6;
}
.fgpane:hover {
    -fx-background-color: #fff;
    -fx-stroke: blue;
}
.fgpane.selected {
    -fx-background-color: #fff;
    -fx-stroke: blue;
}
.domainbox {
    -fx-background-color: rgba(100%,100%,100%,0.2);
    -fx-alignment: top-center;
    -fx-border-color: orange;
    -fx-border-style: dashed;
    -fx-stroke-width: 2;
    -fx-view-order: 2;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}
.domainbox.selected {
    -fx-background-color: rgba(100%,100%,100%,0.4);
    -fx-border-color: blue;
    -fx-border-style: solid;
}

